@import "../../../style/variables/colours";
@import "../../../style/media-queries/media-queries.mixins.scss";

.list {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  align-items: center;
  padding: 35px 90px;
  @include mobile-and-tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
  }
}

.list li {
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
}

.list .phone {
  grid-column: 2/3;
  grid-row: 1/2;
}

.list .phone:last-of-type {
  grid-row: 2/3;
}

.link,
.link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  color: $background;
}

li:last-child .link {
  @include mobile-and-tablet {
    margin-bottom: 0px;
  }
}

.link path {
  fill: $background;
}

.link:hover span {
  text-decoration: underline;
}

.link span {
  margin-left: 10px;
}

.small {
  font-size: 0.8rem;
}

.phoneWrap {
  display: flex;
  flex-direction: column;
}