@import "../variables/colours";
@import "../variables/font-sizes";
@import "../media-queries/media-queries.mixins.scss";

@mixin base-font($size) {
  font-family: "questrial", Verdana, Geneva, Tahoma, sans-serif;
  color: $font;
  letter-spacing: calc($size * 0.13);
  font-size: $size;
}

@mixin base-heading($size, $tablet-size, $mobile-size) {
  font-family: "valky", Verdana, Geneva, Tahoma, sans-serif;
  color: $font;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: $size;
  @include tablet {
    font-size: $tablet-size;
  }
  @include mobile {
    font-size: $mobile-size;
  }
}

@mixin main-heading-font {
  @include base-heading($xxl, $xl, $lg);
  text-transform: uppercase;
}

@mixin section-heading-font {
  @include base-heading($xl, $lg, $lg);
}

@mixin single-section-heading-font {
  @include base-heading($xl, $lg, $lg);
}

@mixin section-subheading-font {
  @include base-font($lg);
}

@mixin logo-font {
  @include base-font($logo);
  text-transform: uppercase;
  @include mobile-and-tablet {
    font-size: $md;
  }
}

@mixin text-decoration($width) {
  position: relative;
  &::after {
    @include desktop {
      content: "";
      position: absolute;
      width: $width;
      height: 0.625rem;
      bottom: -1.25rem;
      left: calc(50% - ($width/2));
      background-color: $text-detailing;
    }
  }
}
