@import "../variables/colours";
@import "../variables/font-sizes";
@import "../media-queries/media-queries.mixins.scss";

@mixin base-font($size, $tablet-size, $mobile-size) {
  font-family: "questrial", Verdana, Geneva, Tahoma, sans-serif;
  color: $font;
  letter-spacing: calc($size * 0.13);
  font-size: $size;
  @include tablet {
    font-size: $tablet-size;
  }
  @include mobile {
    font-size: $mobile-size;
  }
}

@mixin base-heading($size, $tablet-size, $mobile-size) {
  font-family: "valky", Verdana, Geneva, Tahoma, sans-serif;
  color: $font;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: $size;
  @include tablet {
    font-size: $tablet-size;
  }
  @include mobile {
    font-size: $mobile-size;
  }
}

//headings
@mixin main-heading-font {
  text-transform: uppercase;
  @include base-heading($xxl, $xl, $xl);
}

@mixin section-heading-font {
  @include base-heading($xl, $xl, $xl);
}

@mixin single-section-heading-font {
  text-transform: uppercase;
  @include base-heading($xxl, $xl, $xl);
}

//subheadings
@mixin subheading-main {
  text-transform: uppercase;
  line-height: 1.875rem;
  @include base-font($lg, $base, $base);
}

@mixin subheading-primary {
  font-weight: 600;
  @include base-font($logo, $lg, $lg);
}

@mixin subheading-secondary {
  @include base-font($logo, $lg, $lg);
}

//logo
@mixin logo-font {
  @include base-font($logo, $logo, $logo);
  text-transform: uppercase;
  @include mobile-and-tablet {
    font-size: $lg;
  }
}
