@import "../../../style/media-queries/media-queries.mixins.scss";
@import "../../../style/variables/colours";
@import "../../../style/variables/spacings";

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: $lg $md $s;

  @include desktop {
    align-items: baseline;
  }
}
