@import "../../../style/variables/colours";
@import "../../../style/variables/spacings";

.footer {
  background-color: $background-secondary;
}

.inner {
  max-width: 1080px;
  margin-inline: auto;
}
