@import "../../../style/variables/colours";
@import "../../../style/media-queries/media-queries.mixins.scss";

.menu-icon path {
  fill: $font;
}

.menu-icon {
  margin-top: -4px; //aligns svg to top of container
}

.menu-icon-wrap {
  @include desktop {
    display: none;
  }
}
