@import "../../../style/font/font.mixins.scss";
@import "../../../style/variables/spacings";
@import "../../../style/media-queries/media-queries.mixins.scss";

.main {
  margin: auto;
  max-width: 34ch;
  text-align: center;
  @include mobile {
    margin-right: 0;
    text-align: right;
  }
  @include subheading-main;
}

.primary,
.secondary {
  margin-bottom: $md;
  @include subheading-secondary;
}

.primary {
  text-align: center;
}

.secondary {
  text-align: left;
  margin-bottom: $md;
  @include mobile-and-tablet {
    text-align: center;
  }
}
