@import "../../../style/font/font.mixins.scss";
@import "../../../style/media-queries/media-queries.mixins.scss";

.main {
  text-align: center;
  @include mobile {
    text-align: right;
  }
  @include main-heading-font;
}

.single {
  max-width: 9ch;
  @include mobile {
    max-width: 8ch;
  }
  @include single-section-heading-font;
}

.standard {
  text-align: center;
  @include section-heading-font;
}
