@import "../../../style/font/font.mixins.scss";
@import "../../../style/media-queries/media-queries.mixins.scss";

.main {
  @include main-heading-font;
}

.standard {
  position: relative;
  text-align: center;
  @include section-heading-font;
}

.standard::after {
  $width: 6rem;
  @include desktop {
    content: "";
    position: absolute;
    width: $width;
    height: 0.625rem;
    bottom: -1.25rem;
    left: calc(50% - ($width/2));
    background-color: $text-detailing;
  }
}
