@import "../../..//style//variables/colours";

.secondary {
  background-color: $btn-secondary;
  color: $font-secondary;
}

.primary {
  background-color: transparent;
  color: $font;
  border: solid 2px $btn-primary;
}
