@import "../../..//style//variables/colours";

.secondary {
  /*   color: $primary;
  background-color: $primaryLight; */
}

.primary {
  background-color: transparent;
  color: $font;
  border: solid 2px $btn-primary;
}
