@import "../../../style/variables/colours";
@import "../../../style/media-queries/media-queries.mixins.scss";

.menu {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu a {
  padding: 1rem;
  @include mobile-and-tablet {
    padding-left: 0rem;
  }
}

.menu a:not(:last-of-type) {
  border-bottom: solid 1px $font;
  @include desktop {
    border-bottom: none;
  }
}
