@import "./variables/colours";
@import "./variables/spacings";

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: $font;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

p {
  line-height: 1.625rem;
  margin-bottom: $xs;
}
