@import "./media-queries/media-queries.mixins.scss";

main,
header {
  max-width: 1080px;
  margin: auto;
}

main {
  padding: 1rem;
}

section {
  padding: 2rem;
  min-height: 100vh;
  position: relative;
  @include mobile-and-tablet {
    padding: 2rem 1rem;
  }
}
