@import "../../../style/variables/colours";
@import "../../../style/variables/spacings";
@import "../../../style/media-queries/media-queries.mixins.scss";

.prominent {
  color: $font;
  border: solid 2px $btn-primary;
}

.prominent,
.primary,
.secondary {
  &:hover {
    text-decoration: underline;
  }
}

.secondary,
.secondaryLight,
.secondary:visited,
.secondaryLight:visited {
  display: inline-block;
  margin-top: $md;
  padding: 1rem 1.25rem;
  background-color: transparent;
  color: $font-secondary;
  border-radius: 4px;
}

.secondaryLight,
.secondaryLight:visited {
  background-color: $btn-secondary;
}

.secondaryLight:hover {
  background-color: darken($btn-secondary, 5%);
}
