@import "../../../style/variables/colours";

.prominent {
  color: $font;
  border: solid 2px $btn-primary;
  &:hover {
    text-decoration: underline;
  }
}

.secondary,
.secondary:visited {
  color: $font-secondary;
}
