@import "../../../common/style/variables/colours";

.prominent {
  border: solid 2px $btn-primary;
 &:hover {
    text-decoration: underline;
  }
}

.navigation {
  &:hover {
     text-decoration: underline;
   }
 }
